@{
    ViewData["Title"] = "Home";
}

<script src="~/js/view/home.js" asp-append-version="true"></script>

<div class="text-left">
   <label class="title">Favourite Colours</label>
   <table id="index-fav-colours"></table>
</div>

<div class="text-left" style="padding-top: 20px;">
    <label class="title">Age Plus 20 Years</label>
    <table id="index-ageplus20"></table>
</div>


