@{
    ViewData["Title"] = "Response DTO Json";
}

<script src="~/js/view/responseDtoJson.js" asp-append-version="true"></script>

<div class="text-left">
    <pre><code id="responseJson" class="language-json"></code></pre>
</div>
